.profile {
  display: flex;
  width: 360px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  flex-direction: column;
  box-shadow: 15px 15px 2px 1px rgba(89, 89, 90, 0.2);
  margin-top: 40px;
}
.description {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.avatar {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.avatar > img {
  width: 150%;
  margin-left: -25%;
  margin-top: -10%;
}
.username {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}
.tag {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}
.tag > a {
    color: rgb(163, 169, 176);
}
.location {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 50px;
    color: rgb(163, 169, 176);
}
.stats {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.stats-item {
  display: flex;
  flex-direction: column;
  width: 115px;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  background-color: rgb(221, 224, 242);
}
.label {
    font-size: 15px;
    margin-bottom: 5px;
}
.quantity {
    font-size: 20px;
    font-weight: bold;
}

