body {
    background-color: rgb(195, 200, 231);
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.component {
    display: flex;
    flex-direction: column;
}
