.statistics {
    display: flex;
    width: 330px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 15px 15px 2px 1px rgba(89, 89, 90, 0.2);
    margin-top: 50px;
  }
  .title {
    display: flex;
    justify-content: center;
    font-weight: normal;
  }
  .stat_list {
    display: flex;
    flex-direction: row;
    height: 65px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    align-items: center;
    box-sizing: border-box;
    line-height: 1;
  }
  .label {
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.76);
  }
  .percentage {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.76);
  }
  
  


